<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3-Z2SHjaIADyV-G86SHX9o-_SoWg4O2w</string>
	<key>GCM_SENDER_ID</key>
	<string>318436100273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luky.skrivos.course.app.Course-App</string>
	<key>PROJECT_ID</key>
	<string>courseapp-2c88e</string>
	<key>STORAGE_BUCKET</key>
	<string>courseapp-2c88e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318436100273:ios:e6e60d9200feb767f97a90</string>
</dict>
</plist>